<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">

    <p>
      As an advocate for <strong>science communication</strong>, I enjoy bridging the gap between <strong>science and design</strong> &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful science. My goal is to always create easily understood visual science that is informative
      and engaging with pixel-perfect user experiences.  I want to empower young people from all walks of life to pursue STEM, explore the outdoors
      and recognize how art can be a useful tool for communicating science.

    </p>


    <p>
      I'm currently a Graduate Student at the
      <a class="underline-link" href="https://www.colorado.edu/geologicalsciences/elizabeth-menezes" target="_blank">University of Colorado, Boulder</a> studying Geophysics. In 2018, I graduated from
      <a class="underline-link" href="https://www.jsg.utexas.edu/about/" target="_blank">University of Texas, Austin</a> with my B.S. Since then, I have worked at
      <a class="underline-link" href="https://www.nps.gov/rlc/murie/index.htm" target="_blank">Denali National Park & Preseve</a>, as a Science Communicator
      <a class="underline-link" href="https://www.halliburton.com/en/about-us" target="_blank">Halliburton Energy Services Inc.</a>, as a Field Engineer and as a Geosteering Geoscientist.

    </p>

    <p>
      As a Graduate Student, I spend my time studying the impact human activities such as wastewater
      injection wells, geothermal energy production, mining and explosions have on inducing earthquakes.
      I use seismic data and satellite imagery to provide evidence of these impacts.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably studying rocks, climbing rocks, and painting rocks!
    </p>

    <a class="status" href="{{site.resume}}" target="_blank">
      <div class="status__light">
        <div class="status__light__ring"></div>
        <div class="status__light__led"></div>
      </div>
      <div class="status__message">Currently seeking full-time opportunities for after graduation!</div>
    </a>

 </div>
</section>
