<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Graduate Student at the
      <a class="underline-link" href="https://www.colorado.edu/geologicalsciences/elizabeth-menezes" target="_blank">University of Colorado, Boulder</a> studying Geophysics. In 2018 I graduated from
      <a class="underline-link" href="https://www.jsg.utexas.edu/about/" target="_blank">University of Texas</a>. Since then I have worked at
      <a class="underline-link" href="https://www.nps.gov/rlc/murie/index.htm" target="_blank">Denali National Park & Preseve Murie Science and Learning Center</a>, as a Science Communicator
      <a class="underline-link" href="https://www.halliburton.com/en/about-us" target="_blank">Halliburton Energy Services Inc.</a>, as a Field Engineer and as a Geosteering Geoscientist.

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably snowboarding, cruising around on my penny board,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
