<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Graduate Student at the
      <a class="underline-link" href="https://www.colorado.edu/geologicalsciences/elizabeth-menezes" target="_blank">University of Colorado, Boulder</a> studying Geophysics. In 2018 I graduated from
      <a class="underline-link" href="https://www.jsg.utexas.edu/about/" target="_blank">University of Texas</a>. Since then I have worked at
      <a class="underline-link" href="https://www.nps.gov/rlc/murie/index.htm" target="_blank">Denali National Park & Preseve Murie Science and Learning Center</a>, as a Science Communicator
      <a class="underline-link" href="https://www.halliburton.com/en/about-us" target="_blank">Halliburton Energy Services Inc.</a>, as a Field Engineer and as a Geosteering Geoscientist.

    <p>
      As a geophysicist, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
      I am a PhD student at the University of Colorado Boulder. I spend my time here studying the impact human activities such as wastewater 
      injection wells, geothermal energy production, mining and explosions have on inducing earthquakes. 
      As a geophysicist I am trying to reduce these earthquake occurrences using seismic data and satellite imagery. 

      I want to empower young people from all walks of life to pursue STEM, explore the outdoors and recognize how art can be a useful tool for communicating science. 
      That's why I am so psyched about science commmunication.      

    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably studying rocks, climbing rocks, and painting rocks! 
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
