<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project Exhibits">
      <figure class="project__pic">
        <a href="https://elizabeth-ashley.github.io/code/docs/home/exhibits/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/exhibits/exhibits.JPG" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://elizabeth-ashley.github.io/code/docs/home/exhibits/" target="_blank">Exhibits</a>
        </div>
        <p>I made exhibits for the Murie Science & Learning Center to showcase various topics such as the Aurora Borealis, Mount Denali, etc. <strong><a href="https://elizabeth-ashley.github.io/code/docs/home/exhibits/" target="_blank">[View Here]</a></strong></p>
      </figcaption>
    </div>

    <div class="project Denali for Families Book">
      <figure class="project__pic book">
        <a href="https://www.nps.gov/dena/learn/kidsyouth/upload/Denali-for-Families.pdf" target="_blank">
          <div class="book">
            <img src="{{site.baseurl}}/img/featured/book/Denali-for-Families_Page_01.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.nps.gov/dena/learn/kidsyouth/upload/Denali-for-Families.pdf" target="_blank">Denali for Families Book</a>
        </div>
        <p>This free travel guide is designed for parents and guardians who are traveling to Denali and hope to make lasting memories. <strong><a href="https://www.nps.gov/dena/learn/kidsyouth/upload/Denali-for-Families.pdf" target="_blank">[View digital PDF]</a></strong></p>
      </figcaption>
    </div>

    <div class="project research">
      <figure class="project__pic">
        <div class="gif">
          <img src="{{site.baseurl}}/img/gif/WellMadeVid_cluster.gif" alt="">
        </div>
        <!-- <video width="640" height="380" controls>
          <source src="{{site.baseurl}}/img/video/WellMadeVid_cluster.mp4" type=video/mp4>
        </video> -->
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://cires.colorado.edu/elizabeth-menezes" target="_blank">Research</a>
        </div>
        <p>I created this sample rendering and 3D diagram of the earthquakes in my research field site &mdash Raton Basin, Colorado. I used a clustering algorithm in MATLAB to index the different fault lineations. <strong><a href="https://elizabeth-ashley.github.io/code/docs/home/research/" target="_blank">[View Code]</a></strong></p>
      </figcaption>
    </div>
  </div>
</section>
