<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project Exhibits">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/exhibits/exhibits.JPG" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://blistabloc.com/" target="_blank">Exhibits</a>
        </div>
        <p>Murie Science & Learning Center exhibits showcasing various topics such as the Aurora Borealis, Mount Denali, .</p>
      </figcaption>
    </div>

    <div class="project Denali for Families Book">
      <figure class="project__pic book">
        <a href="https://www.nps.gov/dena/learn/kidsyouth/upload/Denali-for-Families.pdf" target="_blank">
          <div class="book">
            <img src="{{site.baseurl}}/img/featured/book/Denali-for-Families_Page_01.png" alt="">
          </div>
          <div class="book">
            <img src="{{site.baseurl}}/img/featured/book/Denali-for-Families_Page_10.png" alt="">
          </div>
          <div class="book">
            <img src="{{site.baseurl}}/img/featured/book/Denali-for-Families_Page_11.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.nps.gov/dena/learn/kidsyouth/index.htm" target="_blank">Denali for Families Book</a>
        </div>
        <p>This free travel guide is designed for parents and guardians who are traveling to Denali and hope to make lasting memories.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://interventions.design/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Interventions</a>
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>
      </figcaption>
    </div>
  </div>
</section>
